# Hackclub Stuff
HACKCLUB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HACKCLUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

HACKATIME_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HACKATIME_START_DATE=2025-12-15

CDN_URL=https://cdn.hackclub.com/api/v4
CDN_KEY=sk_cdn_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Slack
SLACK_BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_SIGNING_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Site Operations
CURRENCY_NAME=Threads
APP_URL=
EXCHANGE_RATE_API_KEY=xxxxxxxxxxxxxxx

# Will change to site setting later
RUNNING=false
ENDED=false
RSVP_OPEN=false

PORT=3000

# Customisations
ORG_SLACK_IDS=xxxxxxxx
ORG_TITLES=Organizer

CURRENCY_NAME=Threads

# Site
RAILS_ENV=development
SECRET_KEY_BASE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RAILS_MASTER_KEY=

DISALLOWED_WORDS= []

# Database & Cache Locations (Derived Programmatically)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/issued_development
REDIS_URL=redis://localhost:6379/0
