# Hack Club OAuth configuration
HACKCLUB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HACKCLUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HACKATIME_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Hackatime
HACKATIME_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
HACKATIME_START_DATE=yyyy-mm-dd

# Optional rails env
RAILS_ENV=production
APP_URL=https://example.com

# Site Operations
CURRENCY_NAME=Threads

# Will change to site setting later
RUNNING=false
ENDED=false
RSVP_OPEN=false
