# Hack Club OAuth configuration
HACKCLUB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HACKCLUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

APP_URL=https://example.com

# Optional rails env
RAILS_ENV=development
CURRENCY_NAME=Threads
RUNNING=false
ENDED=false
